@model WebApplication1.Models.BillViewModel

@{
    ViewBag.Title = "Izbriši";
}

<h2>Izbriši račun</h2>

<h3>Jeste li sigurni da želite izbrisati ovaj račun?</h3>

<hr />


<h4>Br. računa: @Model.num</h4>


<h4>Blagajnik: @Model.user.full_name</h4>


<h4>Iznos: @Model.sum</h4>

@Html.ActionLink("Detalji računa..", "Details", new { id = Model.id, page = ViewBag.Page })
<h2></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <form method="post" action="/bill/Delete" id="filterForm">
              <input type="hidden" name="id" value="@Model.id" />
            <input type="hidden" name="page" value="@ViewBag.Page" />
        </form>
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href="/bill/Index/?page=@ViewBag.Page" class="btn btn-default">Odustani</a>
    </div>
}
