@model WebApplication1.Models.BillViewModel

@{
    ViewBag.Title = "Detalji računa";
}
<div style="display:block; margin-top:3%">
    <div style="display:inline-block">
        <h3>Račun br. @Html.DisplayFor(model => model.num)</h3>
    </div>
    <div style="display:inline-block; float:right">
        <h3>Blagajnik: @Html.DisplayFor(model => model.user.full_name)</h3>
    </div>
</div>

<div>


    <table class="table table-hover">
        <tr>
            <th>
                Naziv artikla
            </th>
            <th>
                Jedinična cijena
            </th>
            <th>
                Količina
            </th>
            <th>
                Porez
            </th>
            <th>
                Iznos
            </th>

        </tr>

        @foreach (var item in Model.bill_article)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.article.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.article.tax)
                </td>
                <td>
                    @{var zbroj = (item.amount * item.article.price * (1 + item.article.tax)).ToString("0.00");}
                    @zbroj
                </td>

            </tr>
        }
        <tr><td></td><td></td><td></td><td></td><td><b>@Html.DisplayFor(model => model.sum) kn</b></td></tr>
    </table>
</div>

<div>
    <a class="btn btn-default" href="@ViewBag.URL"><i class="glyphicon glyphicon-chevron-left" style="color:darkgrey"></i><i class="glyphicon glyphicon-chevron-left" style="color:darkgrey"></i></a>
</div>
