@model DAL.firm

@{
    ViewBag.Title = "Delete";
}

<h2>Prekini suradnju</h2>

<h3>Jeste li sigurni da želite prekinuti suradnju s ovom firmom?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ime
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            OIB
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            Godina osnivanja
        </dt>

        <dd>
            @Html.DisplayFor(model => model.since)
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-left: 125px">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="../" class="btn btn-default">Odustani</a>
        </div>
    }
</div>
