@model IEnumerable<DAL.firm>

@{
    ViewBag.Title = "Index";
}

<div style="margin-top: 3%">
    <div style="width:92%; display:inline-block">
        <h2>Partnerske firme</h2>
    </div>
    <div style="width:8%; display:inline-block; margin-top: 2%;" class="pull-right">
        @Html.ActionLink("Dodaj firmu", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>
<table class="table table-hover">
    <tr>
        <th>
            Ime
        </th>
        <th>
            OIB
        </th>
        <th>
            Telefon
        </th>
        <th>
            Adresa
        </th>
        <th>
            Godina osnivanja
        </th>
        <th>
            E-mail
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OIB)
            </td>
            <td>
                <a href="tel:@item.phone">@item.phone</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.since)
            </td>
            <td>
                <a href="mailto:@item.email">@item.email</a>
            </td>
            <td>
                <div class="pull-right">
                    <a href="/firm/Edit/@item.id"><i class="glyphicon glyphicon-edit"></i></a>
                </div>
            </td>
            <td>
                <a href="/firm/Delete/@item.id"><i class="glyphicon glyphicon-trash trash-can"></i></a>
            </td>
        </tr>
    }

</table>
