@model IEnumerable<WebApplication1.Models.ArticleViewModel>

@{
    ViewBag.Title = "Index";
}
<div style="margin-top: 3%">
    <div style="width:88%; display:inline-block">
        <h2>Popis artikala</h2>
    </div>
    <div style="width:12%; display:inline-block; margin-top: 2%;" class="pull-right">
        @Html.ActionLink("Dodaj novi artikl", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div style="height: 14px;">
</div>

<table class="table table-hover">
    <tr>
        <th width="25%">
            @Html.ActionLink("Ime artikla", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th width="10%">
            <div class="pull-right">
                @Html.ActionLink("Količina", "Index", new { sortOrder = ViewBag.AmountSortParm })
            </div>
        </th>
        <th width="10%">
            <div class="pull-right">
                @Html.ActionLink("Cijena", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </div>
        </th>
        <th width="15%">
            <div class="pull-right">
                Ukupna cijena
            </div>
        </th>
        <th width="10%">
            <div class="pull-right">
                Porez
            </div>
        </th>
        <th width="20%">
            <div class="pull-right">
                @Html.ActionLink("Proizvođač", "Index", new { sortOrder = ViewBag.FirmSortParm })
            </div>
        </th>
        <th width="10%"></th>
        <th width="10%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <div class="pull-right">
                    @Html.DisplayFor(modelItem => item.amount)
                </div>
            </td>
            <td>
                <div class="pull-right">
                    @Html.DisplayFor(modelItem => item.price)
                </div>
            </td>
            <td>
                <div class="pull-right">
                    @Html.DisplayFor(modelItem => item.sumvalue)
                </div>
            </td>
            <td>
                <div class="pull-right">
                    @Html.DisplayFor(modelItem => item.tax)
                </div>
            </td>
            <td>
                <div class="pull-right">
                    @Html.DisplayFor(modelItem => item.firm.name)
                </div>
            </td>
            <td>
                <div class="pull-right">
                    <a class="editajax btn btn-default btn-sm" href="" data-sifartikla="@item.id"><i class="glyphicon glyphicon-edit"></i></a>
                </div>
            </td>
            <td>
                <a class="deleteajax btn btn-danger btn-sm" href="" data-sifartikla="@item.id"><i class="glyphicon glyphicon-trash" style="color:white"></i></a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".editajax").each(function () {
                SetEditAjax($(this), '@Url.Action("EditAjax")');
            });

            $(".deleteajax").each(function () {
                SetDeleteAjax($(this), '@Url.Action("DeleteAjax")');
            });
        });
    </script>
}
