@model WebApplication1.Models.ArticleViewModel


<td>
    @Model.name
</td>
<td>
    <div class="pull-right">
        @Model.amount
    </div>
</td>
<td>
    <div class="pull-right">
        @Model.price
    </div>
</td>
<td>
    <div class="pull-right">
        @Model.sumvalue
    </div>
</td>
<td>
    <div class="pull-right">
        @Model.tax
    </div>
</td>
<td>
    <div class="pull-right">
        @Model.firm.name
    </div>
</td>
<td>
    <a class="editajax pull-right" href="#" data-sifartikla="@Model.id"><i class="glyphicon glyphicon-edit"></i></a>
</td>
<td>
    <a class="deleteajax" href="" data-sifartikla="@Model.id"><i class="glyphicon glyphicon-trash trash-can"></i></a>
</td>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".editajax").each(function () {
                SetEditAjax($(this), '@Url.Action("EditAjax")');
            });

            $(".deleteajax").each(function () {
                SetDeleteAjax($(this), '@Url.Action("DeleteAjax")');
            });
        });
    </script>
}
